html {
  background-image: url("images/statementwall.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
header{
  background-image: url("images/redroses.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
body {
    font-family: "Pinyon Script", cursive;
}

aside{
    font-family: "Pinyon Script", cursive;
    width: 300px;
    height: 400px;
    background size: 300px;
    position: absolute;
  }

  .grid{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
    flex-wrap: wrap;
  }
  
  .section-medium{
    padding:20px;
    width: 800px;
    height:300px;
    background-image: url("images/musicnote.jpeg");
    color: #cc0000;
    font-family: "Pinyon Script", cursive;
    overflow-y: scroll;
  }
  .section-large{
    padding:25px;
    width: 700px;
    height:300px;
    color: #ffffff;
    background-image: url("images/center.jpeg");
    overflow-y: scroll;
  }
  .section-small {
   padding:20px;
    width: 800px;
    height:300px;
    color: #595858;
    text-align: center;
    border-radius: 8px;
    overflow-y: scroll;
    background-image: url("images/bowimage.jpeg");
    border: 4px double; #cc0000
  }

  main{
    width: 850px;
    height: auto;
    backgrounds-color: #F8F8FF;
    border: 4px double #808080;
    color: #3d3028;
    margin-left: 315px;
    padding:10px;
  }
h1 {
    text-align: center;
    font-size: 2.2em;
    margin: 0 0 10px 0;
    color: #F8F8FF;
    padding-top: 5px;
}
nav a {
    display: inline-block;
    text-decoration: none;
    font-size: 1.2em;
    color: #F8F8FF;
    padding: 10px 20px;
    background: #8B0000;
    border-radius: 5px;
    border: 1px solid #000000;
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.7);
    text-shadow: 0px -1px 1px rgba(000, 000, 000, 0.2), 0px 1px 0px rgba(255, 255, 255, 0.3);
}
 nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
 }
 .nav ul li a {
    text-decoration: none;
    margin: 12px 5px 12px 5px;
    padding: 10px;
    background-color: powderblue;
    border: 3px dodgerblue solid;
    border-radius: 6px;
    
}

.nav li a:hover {
    border-color: powderblue;
    background-color: dodgerblue;
    color: white;
} 

 nav ul li { 
 background-color: #000000;
 padding:10px
 border-radius: 5px }

nav a {
    transition: all .5s; 
    transition: transform .5s, background-color 1s ease-in .5s;
}

nav a:hover{
    background-color: red;
    transform: scale(1.5);
}